$grey: #f5f5f5
$darkGrey: #333
$white: #ffffff
$orange: orange
$fontSize: 14px
$sans: 'Open Sans', sans-serif
$raleway: 'Raleway', sans-serif
$margin: 10px
$padding: 5px
@mixin flex
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
@mixin column
	-webkit-box-orient: vertical
	-moz-box-orient: vertical
	-ms-flex-direction: column
	-webkit-flex-direction: column
	flex-direction: column
@mixin rows
	-webkit-box-orient: horizontal
	-moz-box-orient: horizontal
	-ms-flex-direction: row
	-webkit-flex-direction: row
	flex-direction: row
@mixin centers
	-webkit-box-pack: center
	-moz-box-pack: center
	-ms-flex-pack: center
	-webkit-justify-content: center
	justify-content: center
@mixin arows
	-webkit-justify-content: space-around
	-ms-flex-pack: distribute
	justify-content: space-around
@mixin alignItems($align: center)
	@if $align == flex-end
		-webkit-box-align: end
		-webkit-align-items: flex-end
		-moz-box-align: end
		-ms-flex-align: end
		align-items: flex-end
	@else if $align == flex-start
		-webkit-box-align: start
		-webkit-align-items: flex-start
		-moz-box-align: start
		-ms-flex-align: start
		align-items: flex-start
	@else
		-webkit-box-align: $align
		-ms-flex-align: $align
@mixin alignSelf
	-webkit-align-self: flex-start
	-ms-flex-item-align: start
	align-self: flex-start
body
	font-family: $sans
	margin: 0px
	padding: 0px
	color: $darkGrey
body, header, section, article, div
	@include flex
	@include column
	position: relative
	align-items: center
header
	width: 100%
	box-sizing: border-box
	border-bottom: 5px solid $orange
	@media screen and (max-width: 600px) 
		img
			width: 300px
section
	h1
		font-family: $raleway
		font-size: $fontSize*2.5
		font-weight: 200
		font-style: normal
		line-height: 50px
		margin-top: $margin*5
	.other
		font-family: $sans
		font-size: $fontSize
		font-weight: 200
		margin-top: $margin*3
.testimonials
	min-height: 590px
	width: 100%
	box-sizing: border-box
article
	@include rows
	@include arows
	width: 80%
	padding: $padding
	box-sizing: border-box
	@media screen and (max-width: 600px) 
		-webkit-flex-wrap: wrap
		-ms-flex-wrap: wrap
		flex-wrap: wrap
.block
	width: 280px
	margin: $margin
.review
	background: $grey
	margin: $margin
	padding: $padding*2
	font-style: italic
	font-size: $fontSize
.review:after 
	content: ''
	display: block
	position: absolute
	width: 0
	height: 0
	border-top: 25px solid $grey
	border-left: 15px solid transparent
	border-right: 15px solid transparent
	bottom: -15px
	left: 40px
.row
	@include rows
	@include alignSelf
	margin: $margin
.subsc
	div
		p:first-child
			font-weight: bold
		p
			@include alignSelf
			margin: 0 $margin
.custom_section
	background-image: url(img/back.jpg)
	background-size: cover
	background-position: top center
	width: 100%
	min-height: 320px
	color: $white
.btn
	border: 2px solid $white
	padding: $padding
	font-size: $fontSize*1.5
	text-transform: uppercase
	margin: $margin*3 auto
	text-decoration: none
.btn:hover,.btn:focus,.btn:active,
	background: $white
	color: $darkGrey
	cursor: pointer
.line_or
	width: 100px
	height: 2px
	background: $orange
.line_w
	width: 100px
	height: 2px
	background: $white