body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #333; }

body, header, section, article, div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  align-items: center; }

header {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 5px solid orange; }
  @media screen and (max-width: 600px) {
    header img {
      width: 300px; } }

section h1 {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 200;
  font-style: normal;
  line-height: 50px;
  margin-top: 50px; }
section .other {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 200;
  margin-top: 30px; }

.testimonials {
  min-height: 590px;
  width: 100%;
  box-sizing: border-box; }

article {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 80%;
  padding: 5px;
  box-sizing: border-box; }
  @media screen and (max-width: 600px) {
    article {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.block {
  width: 280px;
  margin: 10px; }

.review {
  background: #f5f5f5;
  margin: 10px;
  padding: 10px;
  font-style: italic;
  font-size: 14px; }

.review:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 25px solid #f5f5f5;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: -15px;
  left: 40px; }

.row {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 10px; }

.subsc div p:first-child {
  font-weight: bold; }
.subsc div p {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0 10px; }

.custom_section {
  background-image: url(img/back.jpg);
  background-size: cover;
  background-position: top center;
  width: 100%;
  min-height: 320px;
  color: #ffffff; }

.btn {
  border: 2px solid #ffffff;
  padding: 5px;
  font-size: 21px;
  text-transform: uppercase;
  margin: 30px auto;
  text-decoration: none; }

.btn:hover, .btn:focus, .btn:active {
  background: #ffffff;
  color: #333;
  cursor: pointer; }

.line_or {
  width: 100px;
  height: 2px;
  background: orange; }

.line_w {
  width: 100px;
  height: 2px;
  background: #ffffff; }

/*# sourceMappingURL=index.css.map */
